
header {
	padding:60px;
	width:100%;
	border:5px solid orange;
	border-radius: 50px;
	text-align: center;
	font-size: 40px;
	font-style:italic;
	margin-left: 2%;
	opacity: 0.8;
}
body {
	width:85%;
}
main {
	width:100%;
	background-color: beige;
	margin-left:8%;
	margin-top: 10%;
	border: 5px solid black;
	border-radius: 50px;
	opacity: 0.95;
}
#question  {
	border: 3px solid black;
	border-radius: 30px;
	width: 500px;
	height:105px;
	background-color: #FF6347;
	opacity: 0.8;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	margin:auto;
}
 #confirm {
	width:140px;
	height: 25px;
	padding:0;
	text-align: center;
	margin-left:45%;
	margin-top: 30%;
	opacity: 0.8;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #20B2AA;
	outline: none;
}
 h3 {
 	font-size: 30px;
 }

#reveal {
	border: 3px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	width: 400px;
	padding:10px;
	margin:auto;
	background-color: #9ACD32;
	opacity: 0.8;
/*	margin-top: 400px;*/
}

li {
	width: 400px;
	height: 35px;
	list-style-type: none ;
	font-size: 20px;
	font-weight: bold;
	font-style: oblique;
	border: 2px solid black;
	border-radius: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	background-color: pink;
	cursor: pointer;
}
ul {
	margin-top: 20%;
}

h1 {
  font-family: 'Luckiest Guy';
   }
.deco{
	box-shadow: 0 0 10px 5px;
}
#start {
	display: flex;
	justify-content: center;
	align-items: center;
	width:600px;
	height: 250px;
	margin:auto;
	margin-top: 10%;
	margin-left:35%;
	font-size: 60px;
	font-weight: bolder;
	padding: 10px 20px;
	background-image: url('https://cdn.nohat.cc/thumb/f/720/4749454863237120.jpg');
	opacity: 0.8;
	border: 5px solid black;
	border-radius: 50px;
	outline: none;
  }
